<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <div class="signup col-4 m-auto">
      <form class="col-10 m-auto">
        <div>
          <h1 class="text-light text-center">SIGNUP HERE</h1>
        </div>
        <div class="d-flex justify-content-between mt-5 gap-2">
          <div class="form-group text-light col-6">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control p-1"
              formControlName="fname"
              id="fname"
            />
          </div>
          <div class="form-group text-light col-6">
            <label for="firstName">Last Name</label>
            <input
              type="text"
              class="form-control p-1"
              formControlName="fname"
              id="fname"
            />
          </div>
        </div>
        <br />

        <div class="d-flex justify-content-between gap-2">
          <div class="form-group text-light col-6">
            <label for="firstName">Mobile Number</label>
            <input
              type="text"
              class="form-control p-1"
              formControlName="fname"
              id="fname"
            />
          </div>
          <div class="form-group text-light col-6">
            <label for="firstName">Email</label>
            <input
              type="text"
              class="form-control p-1"
              formControlName="fname"
              id="fname"
            />
          </div>
        </div>
        <br />

        <div class="d-flex justify-content-between gap-2">
          <div class="form-group text-light col-6">
            <label for="firstName">Password</label>
            <input
              type="text"
              class="form-control p-1"
              formControlName="fname"
              id="fname"
            />
          </div>
          <div class="form-group text-light col-6">
            <label for="firstName">Confirm Password</label>
            <input
              type="text"
              class="form-control p-1"
              formControlName="fname"
              id="fname"
            />
          </div>
        </div>

        <div class="text-center mt-5">
          <button type="submit" class="ms-2 btn btn-warning text-dark p-2">
            Submit
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
