<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div class="login col-4 m-auto">
      <form class="col-10 m-auto">
        <div>
          <h1 class="text-light text-center">LOGIN HERE</h1>
        </div>
        <div class="login_content">
          <div class="form-group text-light col-12 mt-5">
            <label for="firstName">Email</label>
            <input
              type="text"
              class="form-control p-1"
              formControlName="fname"
              id="fname"
            />
          </div>
          <br />
          <div class="form-group text-light col-12">
            <label for="firstName">Password</label>
            <input
              type="text"
              class="form-control p-1"
              formControlName="fname"
              id="fname"
            />
          </div>

          <div class="text-center mt-5">
            <button type="submit" class="ms-2 btn btn-warning text-dark p-2">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
