<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TravelBlog</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <section class="showcase">
      <header>
        <img src="./assets/Images/logo.png" class="logo" alt="Logo" />
        <div class="toggle"></div>
      </header>
      <video
        src="./assets/Videos/backgroundVideo1.mp4"
        muted
        loop
        autoplay
      ></video>
      <div class="overlay"></div>
      <div class="text">
        <h2>Never Stop</h2>
        <h3>Exploring the World</h3>
        <p>
          “There’s a sunrise and a sunset every single day, and they’re
          absolutely free. Don’t miss so many of them” – Jo Walton
        </p>
        <a routerLink="/home">Explore</a>
      </div>
      <ul class="social">
        <li>
          <a routerLink="#"><i class="uil uil-twitter-alt social-icon"></i></a>
        </li>
        <li>
          <a routerLink="#"
            ><i class="uil uil-instagram-alt social-icon"></i
          ></a>
        </li>
        <li>
          <a routerLink="#"><i class="uil uil-facebook social-icon"></i></a>
        </li>
      </ul>
    </section>
  </body>
</html>
